# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Entornos virtuales de Python
venv/
ENV/
env/
.venv/

# Archivos de entorno
.env

# Archivos de log
*.log

# Archivos temporales
*.tmp

# Archivos de configuración de IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Carpetas específicas del proyecto
Documentos/pdfs_clase/
Practicas/Proyecto/node_modules/
Practicas/Proyecto_React/node_modules/
Practicas/Proyecto/data/
Practicas/Proyecto/.env
Practicas/Proyecto/package-lock.json
Practicas/Proyecto/prueba/
Practicas/Proyecto/images/
Practicas/Proyecto/dump/

