<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <!-- Bootstrap CSS from node_modules -->
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

  <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">

  <link rel="stylesheet" href="/css/home.css">

  <title>{% block title %}{% endblock %} - My Webpage</title>
  {% endblock %}
</head>

  <!-- navbar -->
  <!-- https://colorhunt.co/palette/3924675d3587a367b1ffd1e3 -->
  <!--   <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: red;"> -->
  <nav class="navbar navbar-expand-lg" style="background-color: #392467;">
    <div class="container-fluid">

      <a class="navbar-brand bi bi-bag-fill p-2" href="" style="color: #FFD1E3;"> Store</a>

      <button class="navbar-toggler p-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: #FFD1E3;"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 p-2">

            <form class="d-flex px-1" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn bi-search btn-outline-success" type="submit" style="color: #FFD1E3;"></button>
            </form>
            

          <li class="nav-item dropdown px-1">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #FFD1E3;">
              Categories
            </a>
            <ul class="dropdown-menu" style="background-color: #5D3587;">
              <li><a class="dropdown-item disabled" aria-disabled="true" style="color: #A367B1;">Men's Fashion</a></li>
              <li><a class="dropdown-item disabled" aria-disabled="true" style="color: #A367B1;">Women's Fashion</a></li>
              <li><a class="dropdown-item disabled" aria-disabled="true" style="color: #A367B1;">Beauty Products</a></li>
            </ul>
          </li>

          <li class="nav-item px-1">
            <a class="nav-link disabled" aria-disabled="true" style="color: #A367B1;">Orders</a>
          </li>

          <li class="nav-item px-1">
            <a class="nav-link disabled" aria-disabled="true" style="color: #A367B1;">Login</a>
          </li>

        </ul>

      </div>

    </div>
  </nav>


  <div id="content" class="container mt-4">
    {% block content %}{% endblock %}
  </div>

  <footer class="text-center text-lg-start fixed-bottom" style="background-color: #392467;">

    <!-- Copyright -->
    <div class="container p-1">
      <div class="row">
        <div class="col-md-6 p-2 text-md-start" style="color: #FFD1E3;">
          © 2020 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/" style="color: #A367B1;">MDBootstrap.com</a>
        </div>

        <div class="col-md-6 text-md-end">
          <a class="btn" style="color: #FFD1E3;">
            <i class="bi bi-github"></i>
          </a>
          <a class="btn" style="color: #FFD1E3;">
            <i class="bi bi-facebook"></i>
          </a>
          <a class="btn" style="color: #FFD1E3;">
            <i class="bi bi-google"></i>
          </a>
          <a class="btn" style="color: #FFD1E3;">
            <i class="bi bi-linkedin"></i>
          </a>
          
        </div>
      </div>
    </div>

  </footer>

  <!-- Bootstrap JS and dependencies from node_modules -->
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</html>
