{% extends "base.html" %}
{% from "macros.html" import renderizarBloqueProductos %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid p-2">
    <h2 class="text-center mb-4">Home</h2>

    <div class="row">
        {{ renderizarBloqueProductos("carouselBloque1", productosHombres, "men's clothing", "/mostrar/mens_clothing") }}
        {{ renderizarBloqueProductos("carouselBloque2", productosMujeres, "women's clothing", "/mostrar/womens_clothing") }}
        {{ renderizarBloqueProductos("carouselBloque3", productosJoyeria, "jewelry", "/mostrar/jewelery") }}
    </div>
</div>

<style>
    .card:hover {
      transform: scale(1.05);
    }
  </style>


{% endblock %}