{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="container-fluid p-2">

    <h2 class="text-center mb-4 p-2">Login</h2>

    <p class="text-center mb-4">john@gmail.com m38rmF$</p>
    <p class="text-center mb-4">morrison@gmail.com 83r5^_</p>

    <div class="d-flex justify-content-center p-2">
        
        <form style="width: 80%; max-width: 400px;" method="POST" action="/login">

            <!-- Email input -->
            <div class="form-outline mb-4">
            <input type="email" name="email" class="form-control" />
            <label class="form-label" >Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
            <input type="password" name="password" class="form-control" />
            <label class="form-label" >Password</label>
            </div>
            
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
            
            <!-- Register buttons -->
            <div class="text-center">
            <p>Not a member? <a href="/register">Register</a></p>
            </div>

        </form>

    </div>
</div>

{% endblock %}